.header__main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: rgba(32, 32, 32, 0.6);

  //@media (max-width: 1300px) {
  //  position: fixed;
  //  z-index: 9999;
  //  display: none;
  //  top: 100px;
  //  background-color: rgba(24, 24, 24, 0.85);
  //}
}


#header__open-menu-button {
  display: none;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 10px;
  top: 100px;
  cursor: pointer;
  color: white;

  padding: 5px;
  background-color: rgba(55, 55, 55, 0.9);;



  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;

  z-index: 99999;

  span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
  }

  @media (max-width: 1300px) {
    //display: flex;
  }
}

#header__close-menu-button {
  display: none;
  position: absolute;
  right: 25px;
  top: 25px;
  height: 50px;
  width: 50px;
  cursor: pointer;

  &:active {
    top: 15px;
  }

  &:before {
    content: "";
    background-color: white;
    width: 2px;
    position: absolute;
    height: 50px;
    transform: rotate(45deg);
    right: 25px;

  }

  &:after {
    content: "";
    background-color: white;
    width: 2px;
    position: absolute;
    height: 50px;
    transform: rotate(-45deg);
    right: 25px;

  }

  @media (max-width: 1300px) {
    //display: block;
  }
}


.cracker__logo-wrap {
  display: flex;
  align-self: flex-end;
  position: absolute;
  bottom: -35px;
  right: 50%;
}

#cracker__about-logo {
  font-size: 20px;
}

.header__nav-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  position: relative;

  left: 80px;
  padding: 20px 0;

  @media (max-width: 1300px) {
    left: unset;
    width: 90%;
    max-width: 600px;

  }
}

.header__nav-list {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 1300px) {
    //flex-direction: column;
  }
}

.header__nav-page {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;

  a {
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
  }

  &--active {
    &:after {
      content: "";
      width: 120px;
      height: 3px;
      background-color: #ff3300;
      position: absolute;
      bottom: -15px;
    }
  }

}

