.header__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  //background-color: #909090;
  background: url("img/ultimate-seed-crackers.png") no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

}

.header__top {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;

  align-items: center;
  background-color: #333333;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 14px;
}

.top__menu-wrap {
  //padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;

  align-items: center;
}

.top__menu {
  display: flex;
  margin-left: 75px;

  span {
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
  }

  p {
    margin: 0;
  }

}

.top__text {
  text-transform: uppercase;
}

.top__text-thin {
  font-weight: normal;
}

.top__total {
  position: relative;
}

.top__total-img {
  width: 25px;
  height: 26px;
}

.red-round {
  position: relative;
  width: 20px;
  height: 20px;
  top: -10px;
  right: 10px;

  display: flex;
  justify-content: center;

  align-items: center;
  vertical-align: bottom;

  border-radius: 50%;
  background-color: red;

}

#top_details {
  position: relative;
  cursor: pointer;

  &:active {
    top: 5px;
  }
}