.header__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  //background-color: #909090;


}

.header__top {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;

  align-items: center;
  background-color: #333333;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 14px;

  @media (max-width: 1300px) {
    justify-content: space-between;
  }

}



.header__logo {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: -25px;
  left: 25.4%;
  color: white;
  z-index: 4;

  @media (max-width: 1300px) {
    position: relative;
    left: unset;
    bottom: unset;
    margin-left: 50px;
  }
}

.top__menu-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 45%;
  padding-top: 20px;
  padding-bottom: 20px;

  align-items: center;

  @media (max-width: 1300px) {
    padding-right: 50px;
    width: 65%;
  }
}

.top__menu {
  display: flex;

  margin-left: 40px;
  margin-right: 30px;

  span {
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
  }

  p {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }

}

.top__text {
  text-transform: uppercase;
}

.top__text-thin {
  font-weight: normal;
}

.top__total {
  position: relative;
}

.top__total-img {
  width: 25px;
  height: 26px;
}

.red-round {
  position: relative;
  width: 20px;
  height: 20px;
  top: -10px;
  right: 10px;

  display: flex;
  justify-content: center;

  align-items: center;
  vertical-align: bottom;

  border-radius: 50%;
  background-color: #ff3300;

}

#top_details {
  position: relative;
  cursor: pointer;

  &:active {
    top: 5px;

  }

  &:before{
    content: "";
    background-color: white;
    position: absolute;
    height: 12px;
    width: 3px;
    right: -25px;
    transform: rotate(-46deg);
  }
  &:after{
    content: "";
    background-color: white;
    position: absolute;
    height: 12px;
    width: 3px;
    right: -32px;
    transform: rotate(46deg);
  }

}